<%- include('blocks/header', {let: active = "index", let: title = "Home"}) %>
<main class="page landing-page">
    <!-- Start: SectionPicker -->
    <section style="padding-top: 15px;">
        <div class="container">
            <div class="row">
                <!-- Start: Automatique -->
                <div class="col-lg-4">
                    <a href="/section/AU" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-robot"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Automatique</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: Automatique -->
                <!-- Start: Fiscalité -->
                <div class="col-lg-4">
                    <a href="/section/CF" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-money-bill-wave"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Compta-Fiscalité<br></h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: Fiscalité -->
                <!-- Start: Gestion -->
                <div class="col-lg-4">
                    <a href="/section/CG" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-map-signs"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Compta-Gestion<br></h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: Gestion -->
                <!-- Start: Comptabilité -->
                <div class="col-lg-4">
                    <a href="/section/CP" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-fax"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Comptabilité<br></h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: Comptabilité -->
                <!-- Start: Droit -->
                <div class="col-lg-4">
                    <a href="/section/DR" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-balance-scale"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Droit<br></h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: Droit -->
                <!-- Start: Marketing -->
                <div class="col-lg-4">
                    <a href="/section/MK" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-chart-line"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Marketing<br></h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: Marketing -->
                <!-- Start: InfoGestion -->
                <div class="col-lg-4">
                    <a href="/section/IG" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-laptop-code"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Informatique de Gestion<br></h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: InfoGestion -->
                <!-- Start: Sécurité -->
                <div class="col-lg-4">
                    <a href="/section/IR" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-lock"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Sécurité des systèmes<br></h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: Sécurité -->
                <!-- Start: TechnoInfo -->
                <div class="col-lg-4">
                    <a href="/section/TI" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-server"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Technologie de l'informatique</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: TechnoInfo -->
            </div>
        </div>
    </section>
    <!-- End: SectionPicker -->
</main>
<%- include('blocks/footer', {let: active = "index"}) %>
