<%- include('blocks/header') %>
<main class="page landing-page">
    <!-- Start: SectionPicker -->
    <section class="clean-block index">
        <div id="fridayAlert" role="alert"></div>
        <div class="container">
            <div class="block-heading" style="padding-top: 30px;">
                <h3 class="text-info">Utilisation du site</h3>
                <p>Hello ! 😄<br><br>Pour générer ton calendrier (.ics), rien de plus simple : indique le(s) groupe(s)
                    que tu suis puis génère le lien et utilise le pour créer un calendrier Google !</p>
            </div>
            <div class="d-flex justify-content-center justify-content-xl-center block-heading" id="infoIndex"
                 style="padding-top: 0;">
                <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                    <h4>Mise à jour automatique</h4>
                    <p>Horaire toujours à jour sur PC, tablette etc sans passer par le portail !</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-support icon"></i>
                    <h4>Compatibilité</h4>
                    <p>Tu peux l'ajouter sur toutes plateformes ! Regarde la page <a class="alert-link"
                                                                                     href="/help"><span>Help</span></a>
                        pour savoir comment faire !</p>
                </div>
            </div>
            <!--
            <div class="alert alert-info text-center" role="alert"><span><strong>Besoin d'aide ?&nbsp;</strong><br>Consulte la page <a
                            class="alert-link" href="/help"><em><span
                                    style="text-decoration: underline;">Help</span></em>
                    </a>&nbsp;!</span>
            </div> -->
        </div>
        <div class="container">
            <div class="row">
                <!-- Start: Automatique -->
                <div class="col-lg-4">
                    <a href="/section/AU" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-robot"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Automatique</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: Automatique -->
                <!-- Start: Fiscalité -->
                <div class="col-lg-4">
                    <a href="/section/CF" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-money-bill-wave"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Compta-Fiscalité<br></h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: Fiscalité -->
                <!-- Start: Gestion -->
                <div class="col-lg-4">
                    <a href="/section/CG" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-map-signs"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Compta-Gestion<br></h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: Gestion -->
                <!-- Start: Comptabilité -->
                <div class="col-lg-4">
                    <a href="/section/CP" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-fax"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Comptabilité<br></h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: Comptabilité -->
                <!-- Start: Droit -->
                <div class="col-lg-4">
                    <a href="/section/DR" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-balance-scale"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Droit<br></h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: Droit -->
                <!-- Start: Marketing -->
                <div class="col-lg-4">
                    <a href="/section/MK" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-chart-line"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Marketing<br></h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: Marketing -->
                <!-- Start: InfoGestion -->
                <div class="col-lg-4">
                    <a href="/section/IG" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-laptop-code"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Informatique de Gestion<br></h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: InfoGestion -->
                <!-- Start: Sécurité -->
                <div class="col-lg-4">
                    <a href="/section/IR" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-lock"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Sécurité des systèmes<br></h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: Sécurité -->
                <!-- Start: TechnoInfo -->
                <div class="col-lg-4">
                    <a href="/section/TI" style="color: #363c41;">
                        <div class="card mb-4 box-shadow rounded-0" data-bs-hover-animate="pulse">
                            <div class="card-body">
                                <h4 class="text-center card-title"><i class="fas fa-server"></i></h4>
                                <h6 class="text-center text-muted card-subtitle mb-2">Section Technologie de l'informatique</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End: TechnoInfo -->
            </div>
        </div>
    </section>
    <!-- End: SectionPicker -->
</main>
<%- include('blocks/footer') %>
